.welcome-header, .welcome-text {
  text-align: center;
  margin: auto;
  color: white;
}

.welcome-header {
  font-size: 57px;
}

.welcome-container {
  max-width: 970px;
  margin: 10% auto;
}

body {
  background-image: url("../img/back.jpg");
}
